@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";



body{
    
font-family: "Inter", sans-serif;

}


:root {
    --cookie-dough: #F5E1C6;
    --cookie-edge: #D2A679;
    --chocolate-chip: #7B4B27;
    --cookie-cream: #FFF8F0;
    --cookie-accent: #E7CBA9;
    --cookie-text: #5C4326;
    --cookie-success: #F2CC8F;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--cookie-cream);
    color: var(--cookie-text);
}