@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";










body{
    
font-family: 'Inter', 'Fira Code', 'Libertinus Sans', 'Noto Sans JP', sans-serif;


}