---
---

<nav class="flex flex-1 items-center justify-between py-3 px-4 text-[1rem] relative">
  <a href="/" class="flex items-center gap-4">
    <img src="/img/logo.png" alt="Logo" class="cursor-pointer hover:scale-105 transition-all duration-300 h-20 w-auto" />
  </a>
  
  <div class="hidden md:flex items-center mr-10 gap-8 text-(--cookie-text) ">
    <a href="/" class="font-semibold relative group menu-underline">Home</a>
    <a href="/about" class="font-semibold relative group menu-underline">About</a>
    <a href="/blog" class="font-semibold relative group menu-underline">Cookies</a>
  </div>
  
 
</nav>